<app-carousel></app-carousel>
<div id="super-contenitore">
<section id="main-container">
  <div class="container-title">
    <h1 [ngClass]="evidenziato ? 'testo-evidenziato' : ''" (click)="onEvidenziazione()" style="cursor: pointer">
      Benvenuti nella Cibando App
    </h1>
    <p class="testo" [ngStyle]="{
        'background-color': evidenziato == true ? 'yellow' : 'white'
      }">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
      nec, pellentesque eu, pretium quis, sem. Nu lla consequat massa quis enim.
      Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
      enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
      felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
      elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
      ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
      ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla
      ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
      nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
      rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
      libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
      vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
      tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam
      quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
      fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed
      consequat, leo eget bibendum sodales, augue velit cursus nunc
    </p>
  </div>
</section>
<div class="ultime-ricette">

  <div class="contenitore-ricette">
    <app-recipe-card [pag]="'home'">
      <div style="display: block; width: 100%"><h2 id="ultime">Le ultime ricette</h2></div>
      <div secondaIncursione style="display: block; width: 100%"><h2 id="ultime">... a presto con nuove ricette!</h2></div>
    </app-recipe-card>
  </div>
</div>

<!-- MODALE DELLA REGISTRAZIONE -->
<ng-template [ngIf]="nome">
  <div id="contenitore-globale">
    <div id="dati-utente">
      <h2>
        Grazie {{ nome }} per esserti registrato, ecco il riepilogo dei tuoi
        dati:
      </h2>
      <ul>
        <li>
          Nome: <strong>{{ nome }}</strong>
        </li>
        <li>
          Email: <strong>{{ email }}</strong>
        </li>
      </ul>
      <button class="btn btn-primary" (click)="closeModal()">CHIUDI</button>
    </div>
  </div>
</ng-template>
</div>
