
@import '../../styles/colori.scss';

.container-cards {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    width: 23%;
    margin-left: 1.5%;
    float: left;
    margin-bottom: 20px;

    .card-title {
      font-weight: bold;
      font-size: 16px;
      color: $primary-color-1;
    }

    .card-image {
      height: 200px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .card-text {
      font-size: 10px;
      text-align: justify;
    }

    a.btn.btn-primary {
      background-color: $primary-color-1;
      border: none;
    }
  }
  .difficolta {
    width: 120px;
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: -3px;
  }
  .difficolta-title {
    margin-top: 0px;
    margin-bottom: -12px;
    padding-bottom: 0px;
    font-weight: 600;
    font-size: 14px;
  }

  .visualizza {
    text-align: center;
    margin-bottom: -10px;
    margin-top: 20px;

    a.btn.btn-primary {
      width: 100%;
  }
  }

}

.container-pagination {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}



@media only screen and (min-width: 650px) and (max-width: 959px){
  .card {
    width: 30%!important;
    margin-left: 1.5%!important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 649px){
  .card {
    width: 45%!important;
    margin-left: 3%!important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 480px){

  .card {
    width: 95%!important;
    margin-left: 2.5%!important;
  }
}
